.quickview {
  //border: solid 2px black;
  width: 30%;
  height: 50%;

  margin: 0 auto    ;

  background: #ffffff;
  border-radius: 15px;
  box-shadow: 2px 2px 40px rgba(0, 35, 35, 0.05);
  backdrop-filter: blur(30px);

  
}

// .quickview:hover {
//   background: #f0f8fe;
//   mix-blend-mode: lighten;
//   opacity: 0.56;
// }
