.ringoversalesforce {
  display: flex;
  align-items: center;
  justify-self: center;
  width: 730px;
  height: 506px;
  border: 0.612859px solid #e7ebff;
  border-radius: 15px;
  margin-left: 6%;
}

.ringover {
  width: 500px;
  height: 506px;
  background: rgba(91, 107, 225, 0.04);
}

.salesforce {
  width: 230px;
  height: 506px;
}

.heading-txt {
  margin: 0 auto;
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading-txt p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #394759;
  padding: 0;
  margin: 0;
}

.heading-txt-inside {
  margin: 0 auto;
  margin-top: 12px;
}
.heading-txt-inside p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #394759;
  padding: 0;
  margin: 0;
}

.fields {
  width: 95%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.fields::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.ringover-fields {
  width: 50%;
  height: 400px;
}

.salesforce-fields {
  width: 50%;
  height: 400px;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 12px;
}

.list-item {
  padding-top: 12px;
}

.rf-filed {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 8px;
  height: 22px;
  padding: 10px;
  margin-top: 2%;
  margin-left: 6%;
  width: 202px;
  padding: 8px;
  border: 2px solid rgba(11, 14, 38, 0);
  border-radius: 10px;
}
.rf-filed p {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #5b6be1;
}

.rf-filed:hover {
  background: rgba(91, 107, 225, 0.15) !important;
  transform: scale(1.1) !important;
}

.forced-hoved {
  background: rgba(91, 107, 225, 0.15);
}

.place-here {
  font-family: "Open Sans" !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  line-height: 16px !important;
  color: #a0a0a0 !important;
}

.rf-filed-new {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(91, 107, 225, 0.02);
  border-radius: 8px;
  border: 2px solid rgba(0, 27, 243, 0.14);
  border-radius: 10px;
  height: 22px;
  padding: 10px;
  background-color: res;
  margin-top: 2%;
  width: 205px;
  padding: 8px;
}
.rf-filed-new p {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #5b6be1;
}

.sf-fields {
  width: 100%;
  height: 400px;
}

.sf-filed {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(91, 107, 225, 0.15);
  border-radius: 8px;
  width: 188px;
  padding: 8px;
}
.sf-filed p {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #5b6be1;
}

.lettering {
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* Light Blue */
  color: #567191;
}

.wd {
  width: 95%;
  margin: 0 auto;
  margin-top: 5%;
}

.search-bar {
  height: 40px;
  margin: 0 auto;
  margin-top: 12px;
  position: relative;
}

.search-icon {
  position: absolute;
  left: 7%;
  top: 19%;
}

.delete-icon {
  position: absolute;
  left: 86%;
  top: 19%;
  cursor: pointer;
}

.input {
  width: 61%;
  height: 22px;
  border: 1px solid #dadce0;
  border-radius: 15px;
  transition: 0.3s all;
  padding: 3px;
  padding-left: 14%;
  padding-right: 20%;
  margin: 0 auto;
}
.input:focus {
  outline: none;
  border: 1px solid #5b6be1 !important;
}
.input:focus .delete-icon {
  display: none !important;
}

.input-lg {
  width: 68%;
  height: 22px;
  border: 1px solid #dadce0;
  border-radius: 15px;
  transition: 0.3s all;
  padding: 3px;
  padding-left: 7%;
  padding-right: 20%;
  margin: 0 auto;
}
.input-lg:focus {
  outline: none;
  border: 1px solid #5b6be1 !important;
}
.input-lg:focus .delete-icon {
  display: none !important;
}

.search-icon-lg {
  position: absolute;
  left: 5%;
  top: 19%;
}

.delete-icon-lg {
  position: absolute;
  left: 92%;
  top: 19%;
  cursor: pointer;
}

.sf-dropable {
  width: 100%;
  height: 100%;
}

.count {
  background: linear-gradient(106.52deg, #a282e8 -11.57%, #7e8ee7 50.39%, #4499e9 116.35%);
  border-radius: 100px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 0%;
  padding-bottom: 0%;
  margin-left: 2%;
}
.count p {
  color: white;
  font-family: "Open Sans";
  font-style: normal;
}/*# sourceMappingURL=ringoversalesforce.css.map */