.quickview {
  width: 430px;
  height: 580px;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 2px 2px 40px rgba(0, 35, 35, 0.05);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  position: relative;
}

.enable {
  color: #394759 !important;
}
.enable P {
  color: #394759 !important;
}

.enable:hover {
  cursor: pointer;
  transform: scale(2.2) !important;
  z-index: 10 !important;
  opacity: 1 !important;
  filter: blur(0) !important;
}

.static-buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80px;
  height: 27.32px;
  background: #f5f6f7;
  box-shadow: 0px 0.683081px 0.683081px rgba(0, 0, 0, 0.15);
  border-radius: 10.2462px;
}
.static-buttons p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  color: #394759;
}

.static-buttons-parents {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 4%;
  width: 75%;
  margin: 0 auto;
  cursor: pointer;
}

.social-icons-parent {
  padding-top: 8%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 25%;
  margin: 0 auto;
  cursor: pointer;
}

.bolder {
  font-family: "Open Sans" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  color: #394759;
  margin-right: 1% !important;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
}
.text p {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  color: #394759;
  margin-left: 1%;
}

.qv-hover > * {
  filter: blur(2px);
  z-index: 1 !important;
}

.grow {
  transform: scale(2.2) !important;
  z-index: 10 !important;
  opacity: 1 !important;
  filter: blur(0) !important;
}

#abs-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#Linkedin\ URL {
  position: absolute;
  top: 14%;
  left: 41%;
  transform: translate(-50%, -50%);
  color: #0077b7 !important;
}

#Linkedin\ URL:hover {
  transform: scale(2.2) !important;
  z-index: 10 !important;
  opacity: 1 !important;
  filter: blur(0) !important;
}

#Company\ URL {
  position: absolute;
  top: 14%;
  left: 52%;
  transform: translate(-50%, -50%);
  color: #567191 !important;
}

#Company\ URL:hover {
  transform: scale(2.2) !important;
  z-index: 10 !important;
  opacity: 1 !important;
  filter: blur(0) !important;
}

#First\ Name {
  position: absolute;
  top: 18%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: #9eabb5;
}

#Last\ Name {
  position: absolute;
  top: 18%;
  left: 55%;
  transform: translate(-50%, -50%);
  color: #9eabb5;
}

#globe {
  position: absolute;
  top: 20.5%;
  left: 67%;
  transform: translate(-50%, -50%);
}

#bag {
  position: absolute;
  top: 25%;
  left: 7%;
  transform: translate(-50%, -50%);
}

#Job\ Position {
  position: absolute;
  top: 25%;
  left: 18%;
  transform: translate(-50%, -50%);
  color: #9eabb5;
}

#at {
  position: absolute;
  top: 25%;
  left: 28%;
  transform: translate(-50%, -50%);
}

#Account\ Name {
  position: absolute;
  top: 25%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: #9eabb5;
}

#with {
  position: absolute;
  top: 25%;
  left: 53%;
  transform: translate(-50%, -50%);
}

#Employee\ Number {
  position: absolute;
  top: 25%;
  left: 69%;
  transform: translate(-50%, -50%);
  color: #9eabb5;
}

#employees {
  position: absolute;
  top: 25%;
  left: 89%;
  transform: translate(-50%, -50%);
}

#Primary\ Email\ Id {
  position: absolute;
  top: 29%;
  left: 47%;
  transform: translate(-50%, -50%);
  color: #9eabb5;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
}
#Primary\ Email\ Id p {
  color: #9eabb5;
}

#Primary\ Phone {
  position: absolute;
  top: 33%;
  left: 48%;
  transform: translate(-50%, -50%);
  color: #9eabb5;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
}
#Primary\ Phone p {
  color: #9eabb5;
}

#Company\ Phone {
  position: absolute;
  top: 37%;
  left: 48%;
  transform: translate(-50%, -50%);
  color: #9eabb5;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
}
#Company\ Phone p {
  color: #9eabb5;
}

.quickview-img {
  width: 400px;
  position: absolute;
  top: 68%;
  left: 47%;
  transform: translate(-50%, -50%);
}

.small-font {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

.pf {
  position: absolute;
  top: 33%;
  left: 47%;
  transform: translate(-50%, -50%);
}

.pff {
  position: absolute;
  top: 33%;
  left: 37%;
  transform: translate(-50%, -50%);
}

.pe {
  position: absolute;
  top: 29%;
  left: 47%;
  transform: translate(-50%, -50%);
  width: -webkit-fill-available;
}

.pee {
  position: absolute;
  top: 29%;
  left: 34%;
  transform: translate(-50%, -50%);
}

.cpp {
  position: absolute;
  top: 37%;
  left: 36%;
  transform: translate(-50%, -50%);
}/*# sourceMappingURL=quickview.css.map */